body {
    background-color: #F2F2F2;
}

.main-page {
    background-color: #F2F2F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Portrait tablets and small desktops */

@media (max-width: 767px) {
    .title-page {
        text-align: center;
    }
    .content-page {
        margin: -15px 0;
        padding: 0;
        background-color: #fff;
    }
    .glyphicon-plus-sign {
        font-size: 30px;
    }
    .add_test {
        padding: 10px;
        text-align: center;
        color: #fff;
        border-radius: 100%;
        background-color: #0092DF;
        position: fixed;
        top: 150px;
        left: 92%;
    }
}

.nav-custom {
    background-color: #363636;
    border: 0;
    margin: 15px;
    min-height: 1px;
}

.active {
    background-color: #0099FF;
}

.title-page {
    margin: 5px;
}

.navbar-inverse .navbar-nav>li>a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: #eeeeee;
}

.header-page {
    background-color: #363636;
    border-top: 5px solid #5C3566;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #0092DF;
}

.icon-bar {
    background-color: #ffffff;
}

.navbar-toggle {
    border: 1px solid #ffffff;
    border-radius: 0;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #2A166F;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu>li>a {
    padding: 15px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #0092DF;
    color: #fff;
}

.img-circle {
    border: 5px solid #5C3566;
}

.content-page {
    margin: 20px;
    margin-top: 25px;
    padding: 0;
    background-color: #F2F2F2;
}

.content-left {
    background-color: #F2F2F2;
    padding: 0;
}

.content-left>div {
    background-color: #fff;
    padding: 0;
}

.content-right {
    background-color: #F2F2F2;
    padding: 0;
}

.category {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

.category h1 {
    border-top: 5px solid #5C3566;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    background-color: #0092DF;
    color: #fff;
}

.footer-page {
    height: 50px;
    background-color: #363636;
    border-bottom: 5px solid #5C3566;
}

.footer-page p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}


/*---------------Tao de thi -------------------*/

.glyphicon-plus-sign {
    font-size: 50px;
}

.add_test {
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    background-color: #0092DF;
    position: fixed;
    top: 150px;
    left: 92%;
}

.create-modal {
    border-radius: 0;
}

.create-modal>.modal-header h4 {
    border-top: 5px solid #5C3566;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px;
    margin: 0;
    background-color: #0092DF;
    color: #fff;
}

.create-modal>.modal-header button {
    margin: 15px;
    color: #ffffff;
}

.close {
    opacity: 1;
}

.create-modal>.modal-header {
    padding: 0;
}

.thumbnail-create {
    padding: 0;
    background-color: #ffffff;
}

.thumbnail-create>p {
    font-size: 100px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: #0092DF;
    border: 5px solid #5C3566;
    cursor: pointer;
}

.create-body {
    background-color: #ffffff;
    padding: 15px;
}

.row-create {
    margin-bottom: 25px;
}

.add-question {
    color: mediumseagreen;
}