.main-page {
    border-top: 5px solid #5C3566;
    background-color: #F2F2F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
    .title-page {
        text-align: center;
    }
    .content-page {
        margin: -15px 0;
        padding: 0;
        background-color: #fff;
    }
}

.nav-custom {
    background-color: #363636;
    border: 0;
    margin: 15px;
    min-height: 1px;
}

.active {
    background-color: #0099FF;
}

.title-page {
    margin: 5px;
}

.navbar-inverse .navbar-nav>li>a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: #eeeeee;
}

.header-page {
    background-color: #363636;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #0092DF;
}

.icon-bar {
    background-color: #ffffff;
}

.navbar-toggle {
    border: 1px solid #ffffff;
    border-radius: 0;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #2A166F;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu>li>a {
    padding: 15px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #0092DF;
    color: #fff;
}

.content-page {
    margin: 20px;
    margin-top: 25px;
    padding: 0;
    background-color: #F2F2F2;
}

.content-left {
    background-color: #F2F2F2;
    padding: 0;
}

.content-left>div {
    background-color: #fff;
    padding: 0;
}

.content-right {
    background-color: #F2F2F2;
    padding: 0;
}

.category {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

.category h1 {
    border-top: 5px solid #5C3566;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    background-color: #0092DF;
    color: #fff;
}

.footer-page {
    height: 50px;
    background-color: #363636;
    border-bottom: 5px solid #5C3566;
}

.footer-page p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}