@media (max-width: 767px) {
    .glyphicon-plus-sign {
        font-size: 5px;
    }
    .add_test {
        padding: 10px;
        text-align: center;
        color: #fff;
        border-radius: 100%;
        background-color: #0092DF;
        position: fixed;
        top: 150px;
        left: 92%;
    }
}

article {
    background-color: #ffffff;
    padding: 15px;
    min-height: 600px;
}

.thumbnail {
    position: relative;
    border-radius: 0;
    border: 0;
    background-color: #36B087;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.thumbnail>.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 65px;
    width: 100%;
    background-color: #2BBBAD;
    z-index: 1;
    transition: height 0.5s ease 0s;
}

.thumbnail>.slider>h4 {
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
}

.thumbnail>.slider:hover {
    border: 2px solid #00695c;
    background-color: #2BBBAD;
    height: 100%;
    opacity: 0.5;
    color: transparent !important;
}

.thumbnail>.caption>h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.thumbnail>.caption>h1,
.thumbnail>.caption>p {
    color: #ffffff;
}

.thumbnail>.caption a {
    background-color: #ffffff;
    color: #36B087;
    border: 0;
    border-radius: 0;
}


/*----------------Thêm đề mới -----------------*/

.glyphicon-plus-sign {
    font-size: 40px;
}

.add_test {
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    background-color: #0092DF;
    position: fixed;
    top: 90px;
    left: 90%;
    z-index: 10;
}

.create-modal {
    border-radius: 0;
}

.create-modal>.modal-header h4 {
    border-top: 5px solid #5C3566;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px;
    margin: 0;
    background-color: #0092DF;
    color: #fff;
}

.create-modal>.modal-header button {
    margin: 15px;
    color: #ffffff;
}

.close {
    opacity: 1;
}

.create-modal>.modal-header {
    padding: 0;
}

.thumbnail-create {
    padding: 0;
    background-color: #ffffff;
}

.thumbnail-create>p {
    font-size: 100px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: #0092DF;
    border: 5px solid #5C3566;
    cursor: pointer;
}

.create-body {
    background-color: #ffffff;
    padding: 15px;
    min-height: 600px;
}

.row-create {
    margin-bottom: 25px;
}


/*----------*/

.panel-question {
    border-radius: 0;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border: 0;
}

.panel-question>.panel-heading {
    text-align: center;
    background-color: #45526E;
    border: 0;
}

.panel-question>.panel-heading>h1 {
    text-transform: uppercase;
    color: #ffffff;
}

.panel-question>.panel-body {
    min-height: 500px;
}

.panel-question>.panel-footer {
    background-color: #BAD1D7;
}

.breadcrumb {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#content {}

#content p {
    word-wrap: break-word;
}

.fixed-action {
    position: fixed;
    right: 40px;
    margin-bottom: 0;
    z-index: 998;
}

.fixed-action ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fab {
    border: 2px solid #a6c;
    color: #93C!important;
    background-color: transparent;
    font-size: 30px;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.fab:hover,
.add-question:hover,
.done-question:hover,
.remove-question:hover,
.btn-style:hover,
.review-question:hover,
.login-form>.input-group>input:hover,
.login-form>.button-group>button:hover {
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn-style {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.add-question {
    border: 2px solid #4285F4;
    color: #0d47a1!important;
    background-color: transparent;
    font-size: 30px;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.done-question {
    border: 2px solid #00C851;
    color: #007E33!important;
    background-color: transparent;
    font-size: 30px;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.remove-question {
    border: 2px solid #f44;
    color: #C00!important;
    background-color: transparent;
    font-size: 30px;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.review-question {
    border: 2px solid #fb3;
    color: #F80!important;
    background-color: transparent;
    font-size: 30px;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}


/*#done-question {
    position: fixed;
    z-index: 1;
}*/

.add-item {
    cursor: pointer;
    color: #36B087;
}

.remove-item {
    cursor: pointer;
    color: red;
}

.location-question {
    background-color: #eeeeee;
    border-left: 7px solid #FBC02D;
    padding-left: 40px;
}

.multi-choice {
    color: #0d47a1!important;
}

.multi-choice>input[type=radio] {
    content: "\f10c"
}


/*--------------singin-----------------*/

.panel-list {
    border-radius: 0;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border: 0;
}

.panel-list>.panel-heading {
    background-color: #00ACC1;
    text-align: center;
}

.panel-list>.panel-heading h1 {
    color: #ffffff;
    text-transform: uppercase;
}


/*--------------login------------------*/

.login-form {
    text-align: center;
    border-radius: 2px;
    padding: 0;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.login-form>h3 {
    text-transform: uppercase;
    background-color: #311B92;
    color: #ffffff;
    padding: 15px;
    margin: 0;
}

.login-form>.input-group {
    padding: 15px;
    width: 100%;
}

.login-form>.input-group>input {
    margin-bottom: 15px;
    border-radius: 0;
    border: 2px solid #a6c;
    color: #93C!important;
    background-color: transparent;
    padding: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.login-form>.button-group {
    padding: 15px;
}

.login-form>.button-group>button {
    padding: 10px;
    margin: 4px;
}

.login-form>.button-group>#login {
    color: #fff;
    border: 0;
    background: #00C851;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.login-form>.button-group>#signin {
    border: 2px solid #4285F4;
    color: #0d47a1!important;
    background-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.login-form>.button-group>#remember {
    background-color: transparent;
    border: 0;
}

.login-form>.button-group>#remember:hover {
    box-shadow: none;
    color: #93C;
}


/*--------------------preview-------------------*/

.preview-question>section {
    padding: 10px;
}

.preview-question>section>table {
    margin-left: 30px;
}

.preview-question>section>table tr td:first-child {
    width: 30px;
}

.complete-question a {
    text-decoration: none;
}